@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
:root{
    --primary-color:white;
}

body{
    margin-left: 25%;
    max-width: 55%;
    font-family: 'Fuzzy Bubbles', cursive;
}
textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}
#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
   
}
.container{
    background-color: var(--primary-color);
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}
#txt-center{
    text-align: center;
    padding-top: 1rem;
}
footer{
    background-color: var(--primary-color);
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;

}
#btn-translate{
    margin-left: 2%;
}